mixin button-default(text)
  .button-default__text=text
mixin button-else (text)
  .button-else__body
    .button-else__text= text
mixin minus-button()
  img(src="./src/img/minus.svg")
mixin plus-button()
  img(src="./src/img/plus.svg")
mixin dropdown-room()
  .dropdown-room__dropdown-field
    .dropdown-room__arrow
      img(src="./src/img/expand_more.svg", alt="стрелка")
    input(class="text-field-default dropdown-room__text-field-default" type="text" value ="Особенности номера" disabled )
  .dropdown-room__dropdown-body
    ul.dropdown-room__list
      li.dropdown-room__item.bedrooms
          .dropdown-room__item-name спальни
          .dropdown-room__minus-button.minus-button
            +minus-button()
          .dropdown-room__count 0
          .dropdown-room__plus-button.plus-button
            +plus-button()
      li.dropdown-room__item.beds
          .dropdown-room__item-name кровати
          .dropdown-room__minus-button.minus-button
            +minus-button()
          .dropdown-room__count 0
          .dropdown-room__plus-button.plus-button
            +plus-button()
      li.dropdown-room__item.baths
          .dropdown-room__item-name ванные комнаты
          .dropdown-room__minus-button.minus-button
            +minus-button()
          .dropdown-room__count 0
          .dropdown-room__plus-button.plus-button
            +plus-button()
mixin dropdown-guests()
  .dropdown-guests__dropdown-field
    .dropdown-guests__arrow
      img(src="./src/img/expand_more.svg", alt="стрелка")
    input(class="text-field-default dropdown-guests__text-field-default" type="text" value ="Сколько гостей" disabled )
  .dropdown-guests__dropdown-body
    ul.dropdown-guests__list
      li.dropdown-guests__item
          .dropdown-guests__item-name взрослые
          .dropdown-guests__minus-button.minus-button
            +minus-button()
          .dropdown-guests__count(data-adults="adults") 0
          .dropdown-guests__plus-button.plus-button
            +plus-button()
      li.dropdown-guests__item
          .dropdown-guests__item-name дети
          .dropdown-guests__minus-button.minus-button
            +minus-button()
          .dropdown-guests__count(data-children="children") 0
          .dropdown-guests__plus-button.plus-button
            +plus-button()
      li.dropdown-guests__item
          .dropdown-guests__item-name младенцы
          .dropdown-guests__minus-button.minus-button
            +minus-button()
          .dropdown-guests__count(data-child="child") 0
          .dropdown-guests__plus-button.plus-button
            +plus-button()
    .dropdown-guests__reset-submit
      input(class="dropdown-guests__reset" type="reset", value="очистить")
      input(class="dropdown-guests__submit" type="submit", value="применить")
mixin custom-checkbox(title)
  label(class="custom-checkbox")
    input(type="checkbox")
    .custom-checkbox_fake
    span.custom-checkbox__text=title
mixin rich-checkbox(title,discription)
  label(class="rich-checkbox")
    input(type="checkbox")
    .rich-checkbox_fake
    .rich-checkbox__wraper
      p.rich-checkbox__text=title
      p.rich-checkbox__discription=discription
mixin checkbox-list(...items)
  .checkbox-list__field
    span.checkbox-list__title expandable checkbox list
    .checkbox-list__arroy
      img(src="./src/img/expand_more.svg", alt="стрелка")
  .checkbox-list__body
    ul.checkbox-list__checkbox-menu
      each item in items
        li.checkbox-list__checkbox-item
          +custom-checkbox(item)
mixin custom-radio-button(title,group)
  label(class="custom-radio-button")
    input(type="radio" name=group)
    .custom-radio-button__fake
    span.custom-radio-button__text=title
mixin toggle()
  .toggle__body
    .toggle__circle
mixin toggle-item(text)
  .toggle.toggle-item__toggle
    +toggle
  p.toggle-item__text=text
mixin like-button(number)
  .like-button__body
  .like-button__like
    img(src="./src/img/favorite_border.svg" alt="лайк")
  .like-button__count=number
mixin star-rate()
  ul.star-rate__list
    -for (var i=1; i<=5; i++)
      li.star-rate__item
        .star-rate__star
          img(class="star-rate__back" src="./src/img/star_border.svg", alt="alt")
          img(class="star-rate__front" src="./src/img/star.svg", alt="alt")