mixin custom-checkbox(title)
  label(class="custom-checkbox")
    input(type="checkbox")
    .custom-checkbox_fake
    span.custom-checkbox__text=title
mixin checkbox-list(...items)
  .checkbox-list__field
    span.checkbox-list__title expandable checkbox list
    .checkbox-list__arroy
      img(src="./src/img/expand_more.svg", alt="стрелка")
  .checkbox-list__body
    ul.checkbox-list__checkbox-menu
      each item in items
        li.checkbox-list__checkbox-item
          +custom-checkbox(item)
mixin custom-radio-button(title,group)
  label(class="custom-radio-button")
    input(type="radio" name=group)
    .custom-radio-button__fake
    span.custom-radio-button__text=title
mixin toggle()
  .toggle__body
    .toggle__circle
mixin toggle-item(text)
  .toggle.toggle-item__toggle
    +toggle
  p.toggle-item__text=text
mixin like-button(number)
  .like-button__body
  .like-button__like
    img(src="./src/img/favorite_border.svg" alt="лайк")
  .like-button__count=number
mixin star-rate()
  ul.star-rate__list
    -for (var i=1; i<=5; i++)
      li.star-rate__item
        .star-rate__star
          img(class="star-rate__back" src="./src/img/star_border.svg", alt="alt")
          img(class="star-rate__front" src="./src/img/star.svg", alt="alt")